@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.loading{
    display: flex;
    width: 223px;
    height: 310px;
    justify-content: center;
    align-items: center;
    animation: rotate 2s linear infinite;


    .loadingImg{
        width: 112px;
        height: 155px;
    }
}